html {
    height: 100vh;
    overflow-y: unset !important;
}
body {
    font-size: 20px;
    overflow-x: hidden;
    #background: linear-gradient(to left, 60deg, #88bbcf, #54c4eb, #aeb2b5) !important;
    background: linear-gradient(to right, #88bbcf, #54c4eb, #e1f5fc) !important;
    #background: rgb(255,255,255);
    #background: linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(105,154,194,1) 35%, rgba(105,154,194,1) 78%, rgba(255,255,255,1) 100%);
}

.no-mobile-display{
    display: block;
}

.mobile-display{
    display: none;
}

.flex-dir{
    flex-direction: row-reverse;
}

.ths-hr{
    border: 1px  solid white;
    border-radius 5px;
    margin: auto;
    width: 90%;
}

.ths-box-manual{
    background: white;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 20px;
}

.ths-under766{
    display: none;
}

.ths-box{
    background: white;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 20px;
    height: max-content;
}

.ths-text-cg{
    font-family: cg;
}

.ths-dot{
    text-align: center !important;
    color: rgba(255,0,0) !important;
    font-size: 50px !important;
}

.ths-border-round-img{
    border-radius: 20px;
}

@media (max-width: 767px) {
    body {
        font-size: 25px;
    }
    .mobile-display{
        display: block;
    }
    .no-mobile-display{
        display: none;
    }
    .ths-box {
        margin-right: 0px !important;
        margin-left:  0px !important;
        height: "unset";
    }
    .flex-dir{
        flex-direction: unset;
    }
    .ths-under766{
        display: block;
    }
    .ths-over766{
        display: none;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 5vw;
    }
}

.title-responsive{
    padding-left: 40px;
    font-size: 40px !important;
    padding-left: unset;
    border: 2px black solid;
    padding: 10px;
    background: whitesmoke;
    min-width: 500px;
    text-align: center;
    max-width: 600px;
    margin-left: 20%;
}

@media (max-width: 1300px) {
    .title-responsive{
        min-width: 500px;
        font-size: 40px !important;
        margin-left: unset;
    }
}

@media (max-width: 900px) {
    .title-responsive{
        font-size: 20px !important;
        min-width: 200px;
        margin-left: unset;
    }
    .ths-border-round-img{
        margin: auto !important;
        width: 90%;
    }
}

.masthead {
  /*height: 50vh; */
  /* min-height: 250px; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-special{
  background-color: #eae9e9;
}

.text-color-special{
  color: black;
  font-family: Veranda;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}
.hover-to-75:hover *{
    background-color: rgba(52,58,64,0.75) !important;
}

.dropdown-item:focus:{
    background-color: #4c5359;
}

.dropdown-item:hover{
    background-color: #4c5359;
}

.position-relative{
  position: relative;
}

.centered-text-in-image{
  position: absolute;
  color: black !important;
  font-weight: bold;
  font-size: x-large;
  top: 50%;
  text-decoration: none !important;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.centered-text-in-image:hover{
  display: none;
  opacity: 1 !important;
}

.image-min-dimensions{
  min-width: 330px;
  /*min-height: 220px; */
}

.text-min-dimensions{
  min-width: 300px;
}

.image-max-dimensions{
  max-width: 400px;
}

@media(max-width: 440px){
   .event-responsive{
      padding-left: 0;
      font-size: 5vw;
   }
   .date-responsive{
      margin-right: 4vw !important;
   }
   .container-responsive{
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
   }
   .mt-0-u440{
      margin-top: 0 !important;
   }
}
