<hr class="mt-3 ths-hr">
<div class="footer-copyright {% if footerFixBottom %} fixed-bottom {% endif %} py-1 pl-3" style="position: relative; bottom: 0; margin: auto; width: 90%;">
        <small>
        Mail: info@thermoscan.de<br>
        Tel: 0911 / 7530-177 Fax: 0911 / 7568-722<br>
        Copyright © 2021 Alle Rechte bei THERMOSCAN Thermographie GmbH<br>
        <a style="color: black;" href=/Impressum>Impressum</a> / <a style="color: black;" href=/Datenschutz>Datenschutz</a><br>
        </small>
</div>
