<meta charset="utf-8">

<meta name="viewport"    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ conf['SITE_DESCRIPTION'] }}">
<meta name="author"      content="{{ conf['SITE_AUTHOR']      }}">
<meta name="title"       content="{{ conf['SITE_TITLE']       }}">

{% if title %}
    <title>{{ title }}</title>
{% else %}
    <title>{{ conf['SITE_TITLE'] }}</title>
{% endif %}

<link rel="shortcut icon" href="/defaultFavicon.ico">

<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/site.css" rel="stylesheet">
<link href="/static/toggle_button.css" rel="stylesheet">

<!-- Bootstrap core JS -->
<script defer src="/static/js/jquery.min.js"></script>
<script defer src="/static/js/bootstrap.min.js"></script>

<meta property="og:type" content="website" />
<meta property="og:title" content="{{ conf['SITE_TITLE'] }}" />
<meta property="og:description" content="{{ conf['SITE_DESCRIPTION']  }}" />
<meta property="og:url" content="{{ url_for(request.endpoint) }}" />
<meta property="og:image" content="{{ conf['SITE_LOG_URL'] }}">

<script defer src="/static/lazyload.js"></script>

{{ conf['ADDITIONAL_HEADER_CONTENT'] | safe }}

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "{{ conf['SITE_BASE_URL'] }}",
      "logo": "{{ conf['SITE_LOGO_URL'] }}"
    }
</script>
