<!doctype html>
<html lang="en">

<head>

  {% include 'head.html' %}

  {% if conf["TWITCH_CHANNEL"] %}
  <!-- Load the Twitch embed script -->
  <!-- <script src="https://embed.twitch.tv/embed/v1.js"></script> -->
  <script defer src="https://sslrelay.atlantishq.de/twitch"></script>
  {% endif %}

</head>
<body id="main_scrollable">
<div class="mobile-display">
<!-- NAVBAR -->
{% include 'navbar.html' %}

<!-- Site wellcome header -->
<header class="masthead">
  <div class="pb-4 pl-2 pr-2 h-50">
    <div class="row h-100 align-items-center flex-dir">
        <div class="col">
                <img class="img-responsive"
                  style="max-width: 400px; float: right;"
                  src="{{ conf['WALLPAPER_URL'] }}">
        </div>
        <div class="col">
            <h1 class="mt-4 title-responsive text-color-special ths-text-cg" 
                    style="line-height:30px;">
                <strong>Tel:</strong>  <a class="a-special" href="09117530177"> 0911 / 7530-177 </a>
                <br>
                <strong>Mail:</strong> <a class="a-special" href="info@thermoscan.de">
                        info@thermoscan.de
                </a>
                <br>
                <strong>
                    <a href="https://wa.me/4915122752122">WhatsApp</a>
                </strong>
            </h1>
        </div>
    </div>
  </div>
</header>

<!-- events -->
{% include 'events.html' %}

<!-- picture links -->
{% if mainLinks and not conf["DISABLE_MAIN_LINKS"] %}
<div class="bg-dark pt-5">
  <div class="container">
    <div class="row">
      {% for card in mainLinks %}
      <div class="col-md-3">
        <div class="card mb-4 box-shadow border-0 hover-to-75">
          <img class="card-img-top" src="{{ card['picture'] }}">
          <div class="card-img-overlay">
            <a href="{{ card['link'] }}" class="stretched-link"></a>
          </div>
        </div>
      </div>
      {% endfor %}
      <hr>
    </div>
  </div>
</div>
{% endif %}

<!-- announcements -->


  <div class="container ths-box-manual pb-2 pt-2 text-color-special">
        <b>Willkommen auf den Seiten der Thermoscan Thermographie GmbH.</b><br>
        <hr>
        Seit über 25 Jahren sind wir unseren Kunden ein zuverlässiger Partner in den Bereichen:
  </div>

  {% for section in sections %}
  <div class="pt-2" style="width: 98%; margin: auto">
    <div class="container text-color-special">
      <div class="row {% if loop.index %2 == 1 %} flex-dir {% endif %}">
        <div class="ths-box mt-1 col text-min-dimensions
                    {% if loop.index %2 == 1 %}
                        ml-2
                    {% else %}
                        mr-2
                    {% endif %}">
          <h4 class="pl-4 pt-4">{{ section['title'] }}</h4>
          <p class="mt-3 pl-4">
            <small>{{ section["text"] }}</small>
          </p>
          {% if section["moreInfoButtonText"] %}
            <a type=button href="{{ section['moreInfoButtonHref'] }}"
              class="mt-3 btn btn-light">{{ section["moreInfoButtonText"] }}
            </a>
          {% endif %}
          <div class="ths-box mt-1 col image-min-dimensions ths-under766"
                  style="padding: 0 !important; border: unset">
            <img class="ths-border-round-img img-responsive w-100"
                src="{{ section['picture'] }}">
          </div>
        </div>

        <!-- larger displays -->
        <div class="ths-box mt-1 col image-min-dimensions ths-over766">
          <img class="ths-border-round-img img-responsive w-100"
              src="{{ section['picture'] }}">
        </div>

      </div>
    </div>
  </div>
  {% endfor %}
  {% include 'footer.html' %}
</div>
</body>
</html>
