<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">

      <!-- left side -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        {% for ndl in conf["NAVBAR_DROPDOWN_LINKS"] %}
	        <li class="nav-item nav-link dropdown">
	        	<button class="dropdown-toggle" type="button"
	        	  style="background: rgba(0,0,0,0);color: azure !important;border: rgba(0,0,0,0);"
	        	  id="dropdown-{{ ndl['name'] }}" data-toggle="dropdown"
	        	  aria-haspopup="true" aria-expanded="false">
	        	{{ ndl["name"] }}
	          </button>
	          <div class="dropdown-menu mt-0 bg-dark" aria-labelledby="dropdown-{{ ndl['name'] }}">
                      {% for link in ndl["links"] %}
	              <a class="dropdown-item nav-link hover-to-75" href="{{ link['href'] }}">
                          {{ link["name"] }}
                  </a>
	              {% endfor %}
	          </div>
	        </li>
        {% endfor %}

        {% for nl in conf["NAVBAR_LINKS"] %}
        <li class="nav-item">
            <a class=nav-link href="{{ nl[1] }}">{{ nl[0] }}</a>
        </li>
        {% endfor %}

        {% if conf["TEAMSPEAK_SERVER"] %}
        <li class="nav-item right">
          <a class="nav-link" href="ts3server://{{ conf['TEAMSPEAK_SERVER'] }}">Teamspeak</a>
        </li>
        {% endif %}
        
        {% if conf["DISCORD_SERVER"] %}
        <li class="nav-item right">
          <a class="nav-link" href="{{ conf['DISCORD_SERVER'] }}">Discord</a>
        </li>
        {% endif %}

      </ul>

      <!-- right side -->
      <ul class="navbar-nav">
        
        {% if conf["INSTAGRAM"] %}
        <li class="nav-item right">
          <a class="nav-link" href="{{ conf['INSTAGRAM'] }}">Instagram</a>
        </li>
        {% endif %}

        {% if conf["FACEBOOK"] %}
        <li class="nav-item right">
          <a class="nav-link" href="{{ conf['FACEBOOK'] }}">Facebook</a>
        </li>
        {% endif %}

        {% if conf["TWITTER"] %}
        <li>
          <a class="nav-link" href="{{ conf['TWITTER'] }}">Twitter</a>
        </li>
        {% endif %}

      </ul>
      
    </div>
</nav>
<nav id="navbar-ph" class="navbar navbar-dark bg-dark fake">
  <li class="navbar-nav">
    <a class="nav-link" href="#">placeholder</a>
  </li>
</nav>
