<!doctype html>
<html lang="en">
<head>

	<title>Menschen</title>
	{% include 'head.html' %}

</head>
<body class="bg-special">

	{% include 'navbar.html' %}

	<div class="container mt-5 mb-5">
		{% for p in people if not p.get("inactive") %}
		<div class="row impressum mt-5">
		  <div class="col text-min-dimensions">
                	<h2>{{ p["title"] }}</h2>
                	<h4>{{ p["subtitle"] }}</h4>
                	<p>
                	{{ p["text"] }}
                	</p>
		  </div>
		<div class="col image-min-dimensions">
                  <img class="img-responsive w-100 image-max-dimensions" 
		  	src="/static/pictures/{{ p['image'] }}"></img>
            	</div>
		</div>
        {% endfor %}
	</div>

	{% include 'footer.html' %}

</body>
</html>
